<h1>New Week</h1>

<form action="<%= weeks_url %>" method="POST">
	
	<input type="hidden" name="form_authenticity" value="<%= form_authenticity_token %>">
	
	<label for="week_title">Week Title</label>
	<input type="text" name="week[title]" id="week_title">
	
	<label for="week_description">Description</label>
	<input type="text" name="week[description]" id="week_description">
	
	<input type="submit" value="Add New Week">
</form>