<form action="<%= codes_url %>" method="post" >
	
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<label for="code_title">Code title</label>
	  <input type="text" id="code_title" name="code[title]"
	  value="Title">
		
		<br>
		
		<label for="code_content">Code Content</label>
		<textarea rows='6' cols='100' name="code[post]">
			Put pastebin embed (html) code here with comments.
		</textarea>
		
		<input type="submit" value="Submit new code">
	
</form>